/* login */
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.bienvenidos {
  margin: auto;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 500px;
}

.loginImage {
  position: absolute;
  width: 60%;
  height: auto;
  z-index: -1;
}

.login h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  color: #314e52;
  margin-top: 10px;
}

.login button {
  background-color: #49a07700;
  color: #314e52;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  padding: 14px 15px;
  border: 0px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  cursor: pointer;
}

/* Nav Bar */
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 90px;
  width: 100%;
  background-color: #ffffffef;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navBar button {
  color: black;
  background-color: #00000000;
  border: 0px;
  cursor: pointer;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
}

/* SearchBar */
.searchBar {
  display: flex;
  justify-content: space-around;
}

.searchBar input {
  margin-right: 15px;
  width: 300px;
  height: 39px;
  border: 1px solid #00000059;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
}

/* Filter */
.filter {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 600px;
  height: auto;
  padding: 10px;
}

.filter h4 {
  margin-top: -2px;
  margin-bottom: 2%;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
}

.filter select {
  width: 150px;
  height: 20px;

  font-size: 15px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
}

/* Body */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
}

/* Cards */
.cards {
  width: 95%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  min-height: auto;
}

.card {
  width: 300px;
  height: 350px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #314e52;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imageRecipe {
  width: 100%;
  height: auto;
}

.favoritesButton {
  position: absolute;
  margin-top: 5px;
  margin-left: -250px;
  background-color: #00000000;
  border: 0px;
  cursor: pointer;
}

.favoritesButton img {
  width: 35px;
  height: 35px;
}

.healthScore {
  position: absolute;
  margin-top: 3px;
  margin-left: 250px;
}

.healthScore img {
  width: 40px;
  height: 40px;
}

.healthScore p {
  margin-top: -35px;
  font-weight: 600;
}

#nameLink {
  width: 92%;
  max-height: 3.6em;
  overflow: hidden;
  cursor: pointer;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  color: #e7e6e1;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
}

.card h5 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  color: #e7e6e1;

  max-width: 92%;
  max-height: 2.6em;
  overflow: hidden;
}

/* Pages */

.pages {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.pages button {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#buttonCurrentPage {
  background-color: #ffffff;
  color: #000000;
  border: 0px;
  cursor: auto;
}

/* Detail */
.detail {
  background-color: white;
  padding: 2%;
  border-radius: 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px;
  font-style: normal;
}

.divDetailImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divDetailImage img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}

#detailsA {
  text-align: start;
  width: 400px;
}

#detailsA h3 {
  font-size: 16px;
}

#summaryInstructions {
  margin: auto;
  width: 1000px;
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
}

/* Favorites */
.favorites h1 {
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  color: #354259;
  width: 350px;
  border-radius: 15px;
  padding: 10px;
  padding-top: 5px;
}

/* Create */
.form {
  margin: auto;
  padding: 45px;
  background-color: white;
  width: 800px;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  border-radius: 20px;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px;
  font-weight: 800;
  font-style: normal;
  color: #222b3a;
}

.form input {
  border: 0px;
  border-bottom: 1px solid black;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px;
  font-weight: 100;
  font-style: normal;
}

.form h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 100;
}

.diets {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);

  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  color: #354259;
}

.form button {
  background-color: #49a078;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 8px;
  border: 0px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.warning {
  color: rgb(223, 0, 0);
}

.danger {
  color: rgb(223, 0, 0);
  font-size: 12px;
}
