/* login */
.container {
   max-width: 1500px;
   margin: auto;
   padding: 2px;
}

.box {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.loginImage {
   width: 70%;
   height: auto;
}

.welcome {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgb(255, 255, 255);
   height: 40%;
   width: 35%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.divWelcome {
   width: 100%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.welcomeH1 {
   font-family: "Times New Roman", Times, serif;
   font-size: clamp(20px, 8.5vw, 100px);
   color: #112d4e;
}

.welcomeH1:hover {
   transform: scale(1.05);
   transition: transform 0.3s;
}

.divButton {
   width: 100%;
   height: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loginButton {
   width: 100%;
   background-color: #ffffff;
   color: #112d4e;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: clamp(14px, 3vw, 28px);
   padding: 14px;
   padding-left: 20px;
   padding-right: 20px;
   border: 4px;
   border: 1px solid gray;
   border-radius: 40px;
   cursor: pointer;
}

.loginButton:hover {
   background-color: #eeeeee;
}

.loginButton:active {
   position: relative;
   top: 1px;
}

@media screen and (max-width: 800px) {
   .loginImage {
      width: 100%;
      height: 100vh;
      object-fit: cover;
   }
   .welcome {
      width: 80%;
      height: 30%;
   }
   .welcomeH1 {
      font-size: clamp(20px, 17vw, 140px);
   }
   .loginButton {
      font-size: clamp(20px, 12vw, 30px);
   }
}

@media screen and (max-width: 600px) {
   .welcome {
      height: 20%;
   }
   .loginButton {
      padding: 10px;
   }
}

@media screen and (max-width: 470px) {
   .loginButton {
      padding: 5px;
   }
}

/* Nav Bar */
.navBar {
   position: fixed;
   top: 0;
   max-width: 1500px;
   z-index: 1;
   height: 90px;
   width: 100%;
   background-color: #f9f7f7f1;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.navBar button {
   color: black;
   background-color: #00000000;
   border: 0px;
   cursor: pointer;

   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   color: #112d4e;
   font-weight: 600;
}

.navBar button:hover {
   transform: scale(1.2);
   transition: transform 0.3s;
}

#home {
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
   color: #3f72af;
}

/* SearchBar */
.searchBar {
   display: flex;
   justify-content: space-around;
}

.searchBar input {
   margin-right: 15px;
   width: 300px;
   height: 39px;
   border: 1px solid #00000059;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;

   font-family: Verdana, Geneva, sans-serif;
   font-size: 15px;
   color: #000000;
   font-weight: 400;
   text-decoration: none solid rgb(68, 68, 68);
}

/* SearchBar Home */
.searchBarHomeEmpty {
   height: 90px;
}

.searchBarHome {
   margin: auto;
   margin-top: 100px;
   display: grid;
   align-items: center;
   grid-template-columns: repeat(2, 1fr);
   width: 90%;
   height: 400px;
}

#nameForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 200px;
}

#nameForm h4 {
   color: #2b2b2b;
   margin: 0px;
}

#nameForm form {
   margin-top: 10px;
}

#nameForm input {
   width: 250px;
   height: 39px;
   border: 1px solid #00000059;

   font-family: Verdana, Geneva, sans-serif;
   font-size: 15px;
   color: #000000;
   font-weight: 400;
   text-decoration: none solid rgb(68, 68, 68);
}

#nameForm button {
   margin-left: 20px;
   width: 80px;
}

#divTitle {
   margin: auto;
   width: 92%;
}

#divTitle h1 {
   max-height: 2.8em;
   overflow: hidden;
   color: #112d4e;
   margin: 0px;
   margin-top: -20px;
   text-decoration: none;
}

#divTitle:hover {
   transform: scale(1.1);
   transition: transform 0.3s;
}

#titleSearchBarHome {
   text-decoration: none;
}

#homeImage {
   border: 2px outset white;
   width: 500px;
}

#homeImage:hover {
   transform: scale(1.01);
   transition: transform 0.3s;
}

.searchBarHome button {
   height: 40px;
   width: 140px;
   color: black;
   background-color: #112d4e;
   border: 0px;
   border-radius: 2px;
   cursor: pointer;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   color: #ffffff;
   font-weight: 600;
}

.searchBarHome button:hover {
   background-color: #011b3a;
}

#imageAndRandomButton {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#downArrow {
   margin-top: 30px;
   width: 50px;
   margin-bottom: 60px;
}

/* Filter */
.filter {
   margin: auto;
   margin-bottom: 10px;
   background-color: #f9f7f7;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   width: 600px;
   height: auto;
}

.filter h4 {
   margin-top: -2px;
   margin-bottom: 2%;

   font-family: Verdana, Geneva, sans-serif;
   font-size: 15px;
   color: #000000;
   font-weight: 400;
   text-decoration: none solid rgb(68, 68, 68);
}

.filter select {
   width: 150px;
   height: 40px;

   font-size: 20px;
   color: #000000;
   font-weight: 400;
   text-decoration: none solid rgb(68, 68, 68);
   border-radius: 20px;
}

.filter select:hover {
   background-color: #f0f0f0;
}

.filter select {
   border-radius: 20px;
}

/* Body */

.body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: auto;
}

/* Cards */
.cards {
   width: 100%;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   background-color: #f9f7f7;
   border-radius: 25px;
   padding-top: 20px;
   padding-bottom: 20px;
   margin: auto;
   min-height: auto;
}

.card {
   width: 300px;
   height: 320px;
   margin: auto;
   margin-top: 3%;
   margin-bottom: 3%;
   background-color: #112d4e;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   border: 3px outset rgb(255, 255, 255);
}

.card:hover {
   transform: scale(1.1);
   transition: transform 0.3s;
}

#closeButton {
   position: absolute;
   top: 5px;
   right: 5px;
   background-color: #00000000;
   border: 0px;
   padding: 0px;
   cursor: pointer;
}

#closeButton:hover {
   transform: scale(1.2);
   transition: transform 0.3s;
}

#closeImage {
   width: 30px;
}

#imageFavHs {
   position: relative;
}

.imageRecipe {
   width: 100%;
   height: auto;
}

#divFavHs {
   position: absolute;
   background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

   right: 0px;
   bottom: 4px;
   display: flex;
   align-items: center;
   justify-content: right;
   flex-direction: row;
   height: 35px;
   width: 100px;
}

.favoritesButton {
   background-color: #00000000;
   border: 0px;
   cursor: pointer;
}

.favoritesButton img {
   width: 30px;
   height: 30px;
   margin-bottom: -2px;
}

.favoritesButton img:hover {
   transform: scale(1.2);
   transition: transform 0.3s;
}
.healthScore {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-right: 5px;
   cursor: default;
}

.healthScore img {
   width: 30px;
   height: 30px;
}

.healthScore p {
   position: absolute;
   color: #131313;
   font-weight: 600;
   font-size: 15px;
   top: -9px;
}

#cardNameDiets {
   display: flex;
   flex-direction: column;
   align-items: start;
   text-align: left;
   justify-content: left;
   width: 90%;
   margin-top: -10px;
}

#nameLink {
   margin-bottom: -10px;

   max-height: 3.6em;
   overflow: hidden;
   cursor: pointer;

   font-family: Verdana, Geneva, sans-serif;
   font-size: 18px;
   color: #e7e6e1;

   font-weight: 400;
   text-decoration: none solid rgb(68, 68, 68);
}

#nameLink:hover {
   transform: scale(1.05);
   transition: transform 0.3s;
}

.card h5 {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 15px;
   font-weight: 100;
   font-style: normal;
   color: #e7e6e1;

   max-height: 2.6em;
   overflow: hidden;
}

.card h5:hover {
   transform: scale(1.05);
   transition: transform 0.3s;
}

/* Pages */

.pages {
   margin: auto;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
}

.pages button {
   margin-left: 20px;
   margin-right: 20px;
   padding: 14px;
   border: 1px solid gray;
   border-radius: 40px;

   background-color: #ffffff;
   cursor: pointer;
   color: #112d4e;
   font-size: clamp(14px, 3vw, 28px);
}

.pages button:hover {
   background-color: #eeeeee;
}

.pages button:active {
   position: relative;
   top: 1px;
}

#buttonCurrentPage {
   background-color: #f9f7f7;
   color: #000000;
   border: 0px;
   cursor: auto;
}

/* Detail */
.detail {
   background-color: #f9f7f7;
   padding: 2%;
   padding-top: 80px;
   border-radius: 25px;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 17px;
   font-style: normal;
   width: 95%;
}

.divDetailImage {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   width: 95%;
   margin: auto;
}

.divDetailImage img {
   margin-top: 20px;
   margin-bottom: 20px;
   width: 90%;
}

.divDetailImage img:hover {
   transform: scale(1.01);
   transition: transform 0.3s;
}

#detailsA {
   text-align: start;
}

#detailsA h1:hover {
   transform: scale(1.05);
   transition: transform 0.3s;
}

#detailsA h3 {
   font-size: 16px;
}

#summaryInstructions {
   margin: auto;
   width: 95%;
   font-size: 16px;
   font-weight: 100;
   text-align: justify;
}

/* Favorites */
.favorites {
   padding-top: 110px;
}
.favorites h1 {
   margin: auto;
   margin-bottom: 20px;
   background-color: #f9f7f7;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 40px;
   font-weight: 800;
   font-style: normal;
   color: #354259;
   width: 350px;
   border-radius: 15px;
   padding: 10px;
}

#emptyFavorites {
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 20px;
   font-style: normal;
   color: #354259;
}

/* Create */
.form {
   margin: auto;
   padding: 45px;
   padding-top: 120px;

   background-color: #f9f7f7;
   width: 800px;
   display: flex;
   justify-content: flex-start;
   text-align: start;
   border-radius: 20px;

   font-family: Verdana, Geneva, sans-serif;
   font-size: 17px;
   font-weight: 800;
   font-style: normal;
   color: #222b3a;
}

.form input {
   border: 0px;
   border-bottom: 1px solid black;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 17px;
   font-weight: 100;
   font-style: normal;
}

.form h6 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 13px;
   font-weight: 100;
}

.diets {
   margin-top: 30px;
   margin-bottom: 30px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(4, 1fr);

   font-family: Verdana, Geneva, sans-serif;
   font-size: 15px;
   font-weight: 100;
   font-style: normal;
   color: #354259;
}

.form button {
   background-color: #49a078;
   color: #fff;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 24px;
   font-weight: 400;
   padding: 8px;
   border: 0px;
   border-radius: 3px;
   display: inline-block;
   cursor: pointer;
}

.form button:hover {
   transform: scale(1.2);
   transition: transform 0.3s;
}

.warning {
   color: rgb(223, 0, 0);
}

.danger {
   color: rgb(223, 0, 0);
   font-size: 12px;
}

/* Information */
.information {
   position: relative;
   padding-left: 60px;
   padding-right: 60px;
   background-color: #112d4e;
   bottom: 0px;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #ffffff;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 18px;
}

.contact {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   width: 150px;
}

.contact img {
   margin-left: 7px;

   width: 30px;
}

/* Created Recipes */
.createdRecipes {
   margin-top: 80px;
}
.createdRecipes h1 {
   margin: auto;
   background-color: #f9f7f7;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 40px;
   font-weight: 800;
   font-style: normal;
   color: #354259;
   width: 450px;
   border-radius: 15px;
   padding: 10px;
}

@media screen and (max-width: 1000px) {
   .searchBarHome {
      grid-template-columns: repeat(1, 1fr);
      height: 700px;
   }
   .searchBarHome button {
      margin-top: 8px;
   }
   .searchBar input {
      width: 150px;
   }
   .cards {
      grid-template-columns: repeat(2, 1fr);
   }
   .divDetailImage {
      grid-template-columns: repeat(1, 1fr);
   }
   .form {
      width: auto;
   }
}

@media screen and (max-width: 650px) {
   .searchBarHome {
      height: 600px;
   }
   .cards {
      grid-template-columns: repeat(1, 1fr);
   }
   .filter {
      grid-template-columns: repeat(1, 1fr);
      width: auto;
      height: 280px;
   }
   #homeImage {
      width: 400px;
   }
   .searchBar input {
      width: 100px;
   }
   .navBar {
      height: 100px;
   }
   .information {
      flex-direction: column;
      justify-content: space-around;
      height: 120px;
   }
}

@media screen and (max-width: 500px) {
   .navBar {
      height: 220px;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 10px;
   }
   #home {
      margin-bottom: -30px;
   }
   .favorites {
      margin-top: 130px;
   }
   .searchBarHome {
      margin-top: 210px;
   }
   .divDetailImage {
      margin-top: 150px;
   }
   .form {
      margin-top: 150px;
   }
   .createdRecipes {
      margin-top: 240px;
   }
   .createdRecipes h1 {
      width: auto;
   }
   #homeImage {
      width: 90%;
   }
   .searchBarHomeEmpty {
      height: 250px;
   }
   .searchBar input {
      width: 150px;
   }
}
